<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">     
    <!-- Ball castor macro -->
    <xacro:macro name="castor" params="*origin prefix radius parent_link">
        <link name="${prefix}_castor_link" >
            <inertial>
                <!-- TODO Mass & Inertia -->
                <origin xyz="0 0 0" />
                <mass value="0.01" />
                <inertia ixx="0.001" ixy="0.001" ixz="0.001" iyy="0.001" iyz="0.001" izz="0.001" />
            </inertial>

            <visual>
                <origin xyz="0 0 0 " rpy="0 0 0" />
                <geometry>
                    <sphere radius="${radius}" />
                    <material name="dark_grey"/>
                </geometry>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="${radius}" />
                </geometry>
            </collision>
        </link>
	
	    <joint name="${prefix}_castor_joint" type="fixed">
    	    <xacro:insert_block name="origin" />
            <parent link="${parent_link}" />
            <child link="${prefix}_castor_link" />
        </joint>
	
        <gazebo reference="${prefix}_castor_link">
           <mu1>0.01</mu1>
           <mu2>0.01</mu2>
        </gazebo>
    </xacro:macro>
</robot>
