<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Imports of all files -->
    <xacro:include filename="$(find marc_description)/src/urdf/properties.urdf.xacro" />

    <xacro:include filename="$(find marc_description)/src/urdf/parts/modules/layer.urdf.xacro" />
    <xacro:include filename="$(find marc_description)/src/urdf/parts/modules/base.urdf.xacro" />

    <xacro:include filename="$(find marc_description)/src/urdf/parts/sensors/HC-SR04.urdf.xacro" />
    <xacro:include filename="$(find marc_description)/src/urdf/parts/sensors/CamsenseX1.urdf.xacro" />
    <xacro:include filename="$(find marc_description)/src/urdf/parts/sensors/RP_5MP_cam.urdf.xacro" />
    <xacro:include filename="$(find marc_description)/src/urdf/parts/sensors/LSM6DS33.urdf.xacro" />

    <xacro:include filename="$(find marc_description)/src/urdf/parts/mechanical/wheel.urdf.xacro" />
    <xacro:include filename="$(find marc_description)/src/urdf/parts/mechanical/ball_castor.urdf.xacro" />

    <xacro:include filename="$(find marc_description)/src/urdf/parts/diff_drive_base.urdf.xacro" />
    <xacro:include filename="$(find marc_description)/src/urdf/parts/raspberry_layer.urdf.xacro" />
    <xacro:include filename="$(find marc_description)/src/urdf/parts/lidar_layer.urdf.xacro" />
    
</robot>
